body{
    background: #f2f2f2;
    padding: 0px;
    margin: 0px;
    color: #4a4a4a;
    font-family: sans-serif;

    background-repeat: no-repeat;
    background-image: url(https://imgak.mmtcdn.com/pwa_v3/pwa_commons_assets/desktop/bg6.jpg);
    background-size: 100% 566px;
    height: 500px;
    /* display: flex;
    justify-content: center; */
}
.container{
    width: 1200px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.logo{
    width: 113px;
    height: 36px;
    padding-left: 0px;
    padding-top: 8px;
}
.cards{
    height: 84px;
    width: 868px;
    background-color: white;
    border-radius: 8px;
    padding: 8px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    margin-left: 134px;
    z-index:1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.categories{
    display: flex;
    padding: 0px 23px;
}
.categories span{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 28px;
}
.icon{
    width: 42px;
    height: 32px;
    display: flex;
    justify-content: center;
}
.search-container{
    background-color: white;
    width: 1160px;
    height: 264px;
    border-radius: 9px;
    display: flex;
    padding: 69px 20px 0px 20px;
    margin: 0px auto;
    font-size: 14px;
    margin-top: -60px;
    position: relative;
}
.trip-options {
    font-size: 14px;
    display: flex;
    width: 1201px;
    height: 21px;
    align-items: center;
}
.trip-options ul{
    display: flex;
    width: 400px;
    height: 21px;
    padding: 0px;
}
.trip-options li{
    display: flex;
    align-items: center;
    text-transform: capitalize;
    /* cursor: pointer; */
    margin: 0 10px;
    padding: 2px 6px;
    border-radius: 20px;
}
.trip-options .selected{
    background: #eaf5ff;
    color: #000000;
    font-weight: 900;
}
.trip-options-end{
    display: flex;
    width: 252px;
    height: 17px;
    margin-left: auto;
    align-items: center;
    font-size: 14px;
}
.trip-options-end p{
    padding: 2px;
}
.trip-details{
    background: #fff;
    padding: 11px 0;
    width:1160px;
    height:221px;
    margin-top: 21px;
    margin-left: 0px;
    position: absolute;
}
.data{
    width: 1158px;
    height: 112px;
    border-radius: 10px;
    margin-bottom:20px;
    border: solid 1px #e7e7e7;
    font-size: 14px;
    display: flex;
    flex-direction: row;
}
.box-data{
    display: flex;
    width: 300px;
    height: 112px;
    border-right: solid 1px #e7e7e7;
    padding-left: 20px;
    margin-left: -18px;
    flex-direction: column;
}
.box-data p{
    margin-top: 9px;
    margin-left: 16px;
}
.box-data h2{
    padding-top: 11px;
    margin: 0px;
    margin-left: 16px;
}
.departure{
    width: 157px;
    height: 112px;
}
.offer{
    width:auto;
    height:55px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.offer-label{
    width:125px;
    height:42px;
    font-size:13px;
    padding-top: 7px;
}
.titleTag {
    display: inline-block;
    padding: 2px 6px;
    border-radius: 5px;
}
.titleTag .dtTag {
    color: white;
    font-weight: 900;
    line-height: 16px;
}
.offer-label h4 {
    display: flex;
    flex-direction: column;
    width: 137px;
    margin: 0px;
    margin-bottom: 5px;

}
.regular-offer{
    width: auto;
    height:33px;
    border: solid 1px #e7e7e7;
    padding: 8px 12px 12px 12px;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.offer-text{
    display: flex;
    flex-direction: column;
    width: auto;
    height:33px;
}
.regular h3{
    width:auto;
    height:18px;   
    margin-top: 0px;
    margin-bottom: 3px;
    margin-left: 5px;
    font-size: 14px;
}
.regular p{
    font-size: 12px;
    margin-top: 0px;
    padding-top: 2px;
    margin-left: 5px;
}
.search-btn{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}
.btn{
    display: flex;
    justify-content: center;
    margin-top: 18px;
    color: white;
    font-size: 16px;
    width: 216px;
    height: 44px;
    border-radius: 34px;
    border: 1px solid black;
    cursor: pointer;
    background: linear-gradient(93deg, #53b2fe, #065af3);
}
.btn h2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.landing-container{
    width:1200px;
    height: 1911px;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    align-content: flex-start;
}
.wrap{
    width: 980px;
    height: 55px;
    padding: 0px 10px;
    box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 30px;
    margin-top: 87px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}
.wrap img{
    width:28px;
    height:28px;
}
.wrap-data{
    width: auto;
    height: 31px;
    padding: 12px 15px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 14px;
    gap: 12px;
    border-right: solid 1px #e7e7e7;
}
.bold-data{
    display: flex;
    width:300px;
    height: 8px;
    flex-direction: column;
}
.bold-data h4,p{
    margin: 0px;
}
.bold-data h4{
    font-size: 14px;
}
.bold-data p{
    font-size:12px;
}
.offer-box{
    width:1120px;
    height:468px;
    padding: 25px 40px 40px 40px;
    border-radius: 10px;
    box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}